{% extends "../toway_base.html" %}
{% block title %}注册新用户{% end %}

{% block js %}
    <script type="text/javascript">

function refreshUsers() {
    var act_id = $("#act_id").val();
    $.get("/api/parts/" + act_id, function(ret){
            $("sign_users").html(ret);
    });
}

$(document).ready(function (){
	$.ajaxSetup({
	    beforeSend: function(jqXHR, settings) {
		type = settings.type
		if (type != 'GET' && type != 'HEAD' && type != 'OPTIONS') {
		    var pattern = /(.+; *)?_xsrf *= *([^;" ]+)/;
		    var xsrf = pattern.exec(document.cookie);
		    if (xsrf) {
			jqXHR.setRequestHeader('X-XSRFToken', xsrf[2]);
		    }
		}
	}});

      $("#signup").click(function(e) {
	{% if is_login %}
		var act_id = $("#act_id").val();
		$.post("/api/logon_sign", {type:"0", act_id: act_id}, function(ret){
		    if (ret == "ok") {
			$("#signup").html("报名成功");
			refreshUsers();
		    } else {
			alert(ret);
		    }
		});
      {% else %}
    	$('#myModal').modal('show');
      {% end %}
	});

    $("#modalOk").on('click', function(event){
	var data = {};
	$(".form-control").each(function () {
		s = $(this).attr("name");
		data[s] = $(this).val();
	});
	data['type'] = $("#operator").val();
	data['act_id'] = $("#act_id").val();
	$.post("/api/signupall", data, function(data) {
		if( data == 'ok') {
			refreshUsers();
			$("#myModalLabel").html("报名成功!");
		} else if (data == 'renew') {
			$("#myModalLabel").html("报名成功!");
			location.reload();
		}
	});
    });

});
    </script>
{% end %}

{% block header_form %}
<ul class="nav navbar-nav">
<li id="li_index" class="active"><a href="/">首页</a></li>
<li  id="li_meetups"><a href="/meetups">活动</a></li>
</ul>
{% end %}

{% block content %}
<div class="col-md-9 meetup-main">
    <div class="panel panel-default meetup-subject"> 

<div class="panel-body">
    <input type="hidden" id="act_id" value="{{post.id}}">
    <div class="col-md-4">
        <img src="http://photo.toway.me/image/MToxZmZiNDQ0YzE4NmZjMDRlY2VmZjI0NjIzY2U3ZDVhYg" width="100%" height="240px"/>
    </div> 
    <div class="col-md-8  main-info">
        <h2>{{post.title}}</h2>
        <div>联系人：{{post.author.username}}</div>
        <div>时间：{{post.start_date.strftime("%Y-%m-%d %H:%M:%S")}} 至 {{post.finish_date.strftime("%Y-%m-%d %H:%M:%S")}}</div>
        <div>地点：{{post.location}}</div>
        <div>费用：{{post.pay_count}}元/人</div>
        <div>人数限制：{{post.limit_num}}人 (128人已报名)</div>
        <div>报名时间：{{post.sign_start_date.strftime("%Y-%m-%d %H:%M:%S")}} 至 {{post.sign_finish_date.strftime("%Y-%m-%d %H:%M:%S")}}</div>
        <button id="signup" class="btn btn-primary" type="button">{{sign_text}}</button>
    </div>
</div>

<div>
    <h3>活动详情</h3>
    <p class="meetup-details">
        {% from pypress.helpers import code_highlight %}
        {{ code_highlight(post.content) }}
    </p>

    <div class="bdsharebuttonbox" data-tag="share_2" >
        <a class="bds_qzone" data-cmd="qzone" href="#"></a>
        <a class="bds_tsina" data-cmd="tsina"></a>
        <a class="bds_weixin" data-cmd="weixin"></a>
        <a class="bds_more" data-cmd="more"></a>
        <a class="bds_count" data-cmd="count"></a>
    </div> 

</div>

</div>
</div>

<div class="col-md-3 meetup-rightbar">
{% if mobile %}
<h3><a href="javascript:showMap()" alt="显示地图">显示地图</a></h3> 
    <div id="meetup-map" style="display:none" width="100%"> 
    </div>
{% else %}
    <h3>活动地图</h3> 
    <div id="meetup-map" width="100%"> 
    </div>
{% end %}
    <br/>

<div id="sign_users" class="applicants">
    {% set parts = post.parts %}
    {% from pypress.filters import field_len %}
    <h3>已报名成员({{field_len(parts)}}人)</h3>
    <hr/>
    <ul class="users">
                     {% for p in parts %}
        <li>
            <a href="/person/" target="_blank">
                <img title="" alt="" class="navbar-avatar" src="" width="40px" height="40px"/>
            </a>
            <div>
                 <a href="" target="_blank">
                     {{p.username}}
                 </a>
            </div>
        </li>

        {% end %}
    </ul>
    <br/>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	<h2 class="modal-title" id="myModalLabel">用户报名</h2>
	<ul>
	<li class="section desc">
	<a href='javascript:showControlType(0)'>已有帐号？</a>
	</li>
	<li>
	<a href='javascript:showControlType(1)'>未注册用户报名</a>
	</li>
	<li>
	<a href='javascript:showControlType(2)'>新注册并报名</a>
	</li>
	</ul>
      </div>

      <div class="modal-body">

<input type="hidden" id="operator" value="0"/>
<div class="form-group got-control un-control new-control">
	<div class="clearfix">
	<label class="desc" title="您的手机号" for="mobile">手机号<span class="req">*</span></label>
	<div class="input">
            <input type="text" class="form-control" name="mobile" value="" id="mobile"/>
	</div>
    </div>
</div>

<div class="form-group un-control new-control">
	<div class="clearfix">
	<label class="desc" title="您的用户名" for="username">用户名<span class="req">*</span></label>
	<div class="input">
            <input type="text" class="form-control" name="username" value="" id="username"/>
	</div>
    </div>
</div>

<div class="form-group un-control">
	<div class="clearfix">
	<label class="desc" title="您的身份证" for="username">身份证<span class="req">*</span></label>
	<div class="input">
            <input type="text" class="form-control" name="identify" value="" id="identify"/>
	</div>
    </div>
</div>

<div class="form-group got-control new-control">
	<div class="clearfix">
	<label class="desc" title="密码" for="password">密码<span class="req">*</span></label>
	<div class="input">
            <input type="password" class="form-control" name="password" value="" id="password"/>
	</div>
    </div>
</div>

<div class="form-group new-control">
	<div class="clearfix">
		<label class="desc " for="code">验证码<span class="req" id="req-deformField5">*</span></label>
		<div class="input">
			<div class="input-group"><input type="text"  name="code" value="" class="form-control" id="code"/>
				<span class="input-group-btn">
					<button type="button" class="btn  btn-default" id="code-sms">发送验证码</button>
				</span>
			</div>
	    <span id="waittoresend" style="display:none">等待<span id="secwait">60</span>秒再发送...</span>
	</div>
</div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-default" id="modalOk">确定</button>
      </div>

    </div>
  </div>
</div>


</div>


<script>
window._bd_share_config = {
common : {
bdText : "参加突围俱乐部两年了，《{{post.title}}》活动非常不错，快来加入。",
bdDesc : '',
bdUrl : window.location.href,
bdPic : "http://v-find.com:6543/images/20150122093752_wKCW16YR54/image"
},
share: {
tag: 'share_2',
bdSize: 16
},
viewList: ["tsina","weixin","qzone"],
viewText: "分享到",
viewSize: '24'
};
with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];
</script>

<script>
function initQQMap() {
    var center = new qq.maps.LatLng({{post.latitude}}, {{post.longitude}});
    var map = new qq.maps.Map(
        $("#meetup-map")[0], {
            center: center,
            zoom:{{ post.zoomlevel }}
        }
    );
    var marker = new qq.maps.Marker({position: center, map: map, title: "{{post.location}}"});
    var scaleControl = new qq.maps.ScaleControl({
        align: qq.maps.ALIGN.BOTTOM_LEFT,
        margin: qq.maps.Size(20, 10),
        map: map
    });
}

function showMap() {
    $("#meetup-map").show();
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://map.qq.com/api/js?v=2.exp&callback=initQQMap'];
}

function showControlType(i) {
	$("#operator").val(i);
	var s = [".got-control",".un-control", ".new-control"];
	for(var n = 0; n < s.length; n++) {
		$(s[n]).each(function () {
			if(n != i) {
				$(this).hide();
			}
		});
	}
	$(s[i]).each(function () {
		$(this).show();
	});
}

$(function(){
    showControlType(0);
{% if mobile %}
{% else %}
showMap();
{% end %}
});

</script>
{% end %}
